# ==========================================
# ORBITGUARD AI - Node.js Express Server
# ==========================================
PORT=5000
NODE_ENV=development

# URL of the Python AI Microservice
PYTHON_AI_SERVICE_URL=http://127.0.0.1:8000/api/v1
